/* Custom Google Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Root Variables */
:root {
    --primaryColor: #141119;
    --white: #fafafa;
    --textColor: #f9c90b;
    --hoverColor: #3638d7;
}

/* Body Styling */
body {
    font-family: 'Nunito', sans-serif;
}

/* Navbar Styling */
.navbar {
    display: flex;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 5px 1px #c7c7c7;
}

/* Navbar Logo Styling */
.navbar a img {
    width: 9%;
    position: relative;
    left: 20%;
}

/* Navbar Menu Styling */
.navbar .menus ul {
    display: flex;
    gap: 30px;
    text-decoration: none;
    list-style: none;
    margin: 0;
}

/* Navbar Menu Item Styling */
.menus ul a {
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: bold;
}

/* Navbar Menu Hover Styling */
.menus ul a:hover {
    color: var(--hoverColor);
}
