* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* overflow: hidden; */
    
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center; background: linear-gradient(to right, rgba(248, 169, 255, 0.966), #b3f4ff), linear-gradient(to bottom,  #b3f4ff, rgba(248, 169, 255, 0.966));
}

.container {
    border: 2px solid black;
    width: 63%;
    margin-top: 80px;
    display: flex;  
    height: 450px;
    border-radius: 25px;
    background-color: rgb(189, 215, 255);

}


/* this is lefty section area */
.container .left {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: purple;
    border-radius: 20px 0px 0px 20px;
}

.container .left img {
    margin-top: 70px;
    width: 80%;
}

.container .left p {
    text-align: center;
    margin: 30px 40px;
    color: white;
    font-family: 'Lato';
    /* width: 35%; */
}



/* this is right section area */


.container .right {

    /* border: 2px solid rgb(200, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;


}

.container .right h3 {
    font-family: sans-serif;
    color: purple;
    font-size: 40px;
}

.container .right .inptxt {
    border: none;

    border: 2px solid pink;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 20px;

    background-color: rgb(38, 37, 53);
    width: 40%;

}

.container .right .inptxt::placeholder {
    color: white;
    padding-left: 15px
}



.container .right .extraLinks {
    display: flex;
    width: 40%;
    justify-content: space-between;
    color: purple;
    font-family: sans-serif;
}

.container .right .extraLinks a {

    text-decoration: none;
    color: purple;
}


.container .right .extraLinks .remember .checkbox {

    border: 2px solid red;

}